{
  "scriptId": "COLE_AQUI_O_SCRIPT_ID_DO_PROJETO_APPS_SCRIPT",
  "rootDir": "src",
  "scriptExtensions": [".js", ".gs"],
  "htmlExtensions": [".html"],
  "jsonExtensions": [".json"],
  "filePushOrder": [],
  "skipSubdirectories": false
}
